{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Password Recovery" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>{% trans "Password Recovery" %}</h2>
    <p>{% trans "Enter your email to receive a password reset link:" %}</p>
    <form method="post">
        {% csrf_token %}
        {{ form.email.label_tag }}
        {{ form.email }}
        <button type="submit" class="btn btn-primary mt-3">{% trans "Send" %}</button>
    </form>
</div>
{% endblock %}

