{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "User Dashboard" %}{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <div class="card shadow p-5 rounded-4">
        <h1 class="display-5 mb-4">{% blocktrans %}Hi, {{ user.username }} 👋{% endblocktrans %}</h1>
        <p class="lead mb-4">{% trans "What do you want to do?" %}</p>

        <a href="{% url 'main:create_project' %}" class="btn btn-add-project btn-lg me-0">➕ {% trans "Add Project" %}</a><br>
        <a href="{% url 'main:project_list' %}" class="btn btn-view-project btn-lg">📂 {% trans "View Projects" %}</a><br>
        <a href="{% url 'main:my_offers' %}" class="btn btn-my-offers btn-lg">📄 {% trans "My Offers" %}</a>
    </div>
</div>
{% endblock %}
