{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Create Project" %}{% endblock %}

{% block content %}
<h2 class="mb-4">
    {% if project %}
        {% trans "Edit Project" %}
    {% else %}
        {% trans "Create Project" %}
    {% endif %}
</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
    <a class="btn btn-secondary" href="{% url 'main:project_list' %}">{% trans "Cancel" %}</a>
</form>
{% endblock %}

