{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Welcome" %}{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <div class="card shadow p-5 rounded-4">
        <h1 class="display-4 mb-4">
            {% trans "Welcome to" %} <span class="text-primary">{% trans "the freelance platform" %}!</span>
        </h1>
        <p class="lead mb-4">{% trans "Find clients or freelancers right now." %}</p>
        <a href="{% url 'main:register' %}" class="btn btn-success btn-lg me-3">{% trans "Register" %}</a>
        <a href="{% url 'main:login' %}" class="btn btn-outline-primary btn-lg">{% trans "Login" %}</a>
    </div>
</div>
{% endblock %}

